%h2 Autocomplete Demo

%p
  This demo dataset contains all nominations for the Academy Awards Best Picture from 1927-2011
  http://awardsdatabase.oscars.org/ampas_awards/BasicSearchInput.jsp
%p
  Enter a movie title and wait for autocomplete results.
  Once a result has returned, subsequent searches use the local cache before requesting new results from the server.

= form_tag search_path, :onsubmit => 'return false;', :class => 'form-search' do
  = search_field_tag :q, '', :placeholder => 'Search for movie...', :class => 'search-query'

%h2 Cache Inspector
= link_to_function "Clear Cache", "$('#q').data('autocomplete').cache.length = 0;", :class => 'btn btn-danger'

:javascript
  var localCache = [];
  $("#q").autocomplete({
    delay: 10,
    cache: localCache,
    remoteSource: function(request, response) {
      return $.getJSON('/search', {q: request.term}, function(data) {
        response(data);
      });
    },
    // mirror server search and sorting behavior
    filter: function(list, term) {
      var matcher = new RegExp("^" + term, "i");
      var results = $.grep(list, function(item) {
        return matcher.test(item.value);
      });
      return results.sort(function(a, b) {
        return a.value.toLocaleLowerCase().localeCompare(b.value.toLocaleLowerCase());
      });
    },
  });
