%h2 Autocomplete Demo
= form_tag search_path, :onsubmit => 'return false;' do
  = text_field_tag :q, '', :placeholder => 'Search Term'

%h2 Cache Inspector
= link_to_function "Clear Cache", "$('#q').data('autocomplete').cache.length = 0;"

:javascript
  var localCache = [];
  $("#q").autocomplete({
    cache: localCache,
    remoteSource: function(request, response) {
      return $.getJSON('/search', {q: request.term}, function(data) {
        response(data);
      });
    },
    // mirror server search and sorting behavior
    filter: function(list, term) {
      var matcher = new RegExp("^" + term, "i");
      var results = $.grep(list, function(item) {
        return matcher.test(item.value);
      });
      return results.sort(function(a, b) {
        return a.value.toLocaleLowerCase().localeCompare(b.value.toLocaleLowerCase());
      });
    },
  });
